/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;}
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	
/* ============ desktop view .end// ============ */
*
{
  font-size: 18px;
}	

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body{
  background-color: #eee;
}

.navbar-nav>li>a{
  color: #fff;
}

.navbar-nav>li:hover{
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 6px 0; 
}

div.content {
	padding: 2em 2em;
	display: table-cell;
	vertical-align: middle;
}

div.form-group{
	padding-top: 2px;
}
