<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" rel="home" routerLink="" title="Buy Sell Rent Everyting">
      <img
        width="50"
        class="rounded-circle"
        alt="Angular Logo"
        src="https://picsum.photos/150/150"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse text-white text-center text-lg-start"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active current">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active current">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="booking" routerLinkActive="active current">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contactus" routerLinkActive="active current">Contact Us</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Report
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Room Status</a></li>
            <li><a class="dropdown-item" href="#">Customer Bill</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#">Year To Date (YTD) Sales</a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
