<div class="d-flex justify-content-between bd-highlight mb-2">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight">
        <div class="content">
          <br>
          <div class="text-center header">Our Office</div>
          <hr/>
          <div class="panel panel-default">
            <div class="panel-body text-center">
                <h4>Address</h4>
                <div>
                2217 Ruby Tower<br />
                Pune India<br />
                #(703) 1234 1234<br />
                service@hotel18degree.com<br />
                </div>
                <hr />
            </div>
        </div>
      </div>
    </div>
    <div class="p-2 bd-highlight"></div>
 </div>

